body {
  position: relative;
  margin: 50px;
  padding: 0px;
  background: #fff;
  color: #0c0c0c;
  text-rendering: optimizeLegibility;
  font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
h1{
  color: #e0330c;
  text-align: center;
  line-height: 1.1;
}
h1 {
  font-size: 4em;
}
a {
  color: #0c0c0c;
}